registry=https://npm.pkg.github.com/lizzethgd

//npm.pkg.github.com/:_authToken=_wEUQ3ReOc4xB5XiH00I3RzLMP25XsG3rafS5





> Username: lizzethgd
> Password: _wEUQ3ReOc4xB5XiH00I3RzLMP25XsG3rafS5
> Email: lizzethgd@gmail.com